@model jenkinstest.Models.Class1
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Helloo World!!!!</p>
<p>Helloo World22222222!!!!</p>
<p>Helloo World3333222!!!!</p>
<p>Helloo World44442222!!!!</p>

